extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - 
    var socials = [
      ['vk', 'https://vk.com/tatyana.kovylina'],
      ['github', 'https://github.com/kovylina']]  

block scripts
  script(src='about.bundle.js')

block content 
  section.hero
    .hero__header
      .hero__links   
        ul.socials
          each item in socials
            li.socials__item
              a(href=`${item[1]}`).socials__link
                +icon(item[0], 'socials__link-icon')

      .hero__menu
        a(href="#").hamburger-menu
          +icon('hamburger', 'hamburger-menu__img')
        
    .hero__title
      +icon('portfolio_header', 'hero__title-pic')

      .hero__user
        .user
          .user__avatar
            +image('user-avatar.jpg', 'Аватар', 'user__avatar-img')
          .user__description
            .user__page 
              .block-title.block-title--hero Блог
            .user__info Статьи, которые я написала

    .hero__down_btns
      a(href="#").down-btn
        +icon('arrow_down', 'down-btn__img')

  .triangles
    .triangle-page
      .triangle-page__col
        +icon('triangle_left', 'triangle triangle--fill-white')  
      .triangle-page__col
        +icon('triangle_right', 'triangle triangle--fill-white')
  
  section.blog
    .blog__menu
      aside.blog-menu  
        ul.blog-menu__list 
          each item in ['Самое важное в SASS', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
            li.blog-menu__item
              a(href="#").blog-menu__link #{item}

    .blog__content
      .articles
        ul.articles__list
          li.articles__item
            article.article
              header.article__header
                h3.article__title Самое важное в SASS
                time(datetime="2016-11-22").article__date 22 ноября 2016
              .article__content.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                .article__code
                  +image('code-example.png', 'Пример кода', 'article__code-example')
          li.articles__item
            article.article
              header.article__header
                h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт          
                time(datetime="2016-11-13").article__date 13 ноября 2016
              .article__content.text-content   
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.                   