script(type="text/x-template")#slider
  .slider 
    info(
      :work="currentWork"
    )
    preview(
      :work="currentWork"
    )
    buttons(
      :works="works"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )

script(type="text/x-template")#slider-info
  .slider__info-containder
    .slider__info
      .slider__info-title
        .block-subtitle {{ work.title }}
      .slider__info-skills {{ work.skills }}
      .slider__info-button
        a(:href="work.link" target="_blank").slider__info-button-link 
          +icon('link', 'slider__info-button-img')
          .slider__info-button-text  Посмотреть сайт

script(type="text/x-template")#slider-preview
  .slider__preview
    img(:src="work.photo").slider__preview-pic

script(type="text/x-template")#slider-buttons
  .slider__buttons
    .slider__button(@click="slide('prev')")
      transition-group(name="slide-down" tag="div").slider__button-img-container
        .slider__button-img-wrap(:key="getImage('prev').photo")
          img(:src="getImage('prev').photo").slider__button-pic
    .slider__button.slider__button--next(@click="slide('next')")
      transition-group(name="slide-up" tag="div").slider__button-img-container    
        .slider__button-img-wrap(:key="getImage('next').photo")
          img(:src="getImage('next').photo").slider__button-pic        