.fullscreen-nav
  .fullscreen-nav__close-btn
    a(href="#").fullscreen-nav__btn
      +icon('close', 'fullscreen-nav__img')
  .fullscreen-nav__nav   
    nav.menu
      ul.menu__list
        each item in [['Мои работы','works.html'], ['Обо мне', 'about.html'], ['Блог','blog.html'],['Авторизация', 'index.html']]
          li.menu__item
            a(href=`${item[1]}`).menu__link #{item[0]}