.preloader
  .preloader__container
    figure.preloader__progress
      svg(viewBox="0 0 100 100" preserveAspectRatio="none").preloader__progress-fugure.preloader__progress-fugure--rotate-140deg
        circle(cx="50" cy="50" r="30").preloader__circle
      svg(viewBox="0 0 100 100" preserveAspectRatio="none").preloader__progress-fugure.preloader__progress-fugure--rotate-120deg          
        circle(cx="50" cy="50" r="25").preloader__circle
      svg(viewBox="0 0 100 100" preserveAspectRatio="none").preloader__progress-fugure.preloader__progress-fugure--rotate-90deg        
        circle(cx="50" cy="50" r="20").preloader__circle
      .preloader__progress-percent 0%