.about {
  position: relative;
  display: flex;
}

.about__content {
  display: flex;
  text-align: center;
  @include tablets {
    flex-direction: column;
  }
}

.about__left,
.about__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 40px;
  @include tablets {
    width: 100%;
  }
}

.about__left {
  background: $white;
}

.about__right {
  background: $beige;
}

.about__left-title {
  margin-bottom: 55px;
  text-align: center;
  @include tablets {
    margin-bottom: 0;
  }
}

.about__right {
  padding: 35px;
}

.about__right-title {
  margin-bottom: 40px;
  @include tablets {
    margin-bottom: 0;
  }
}

.about__right-content {
  text-align: left;
  @include tablets {
    text-align: center;
    align-items: center;
  }
}
