.about {
  position: relative;
}

.about__content {
  display: flex;
  text-align: center;
}

.about__left,
.about__right {
  width: 50%;
  min-width: 300px;
  padding-bottom: 40px;
}

.about__left {
  background: $white;
}

.about__right {
  background: $beige;
}

.about__left-title {
  margin-bottom: 55px;
  text-align: center;
}

.about__right {
  padding: 35px;
}

.about__right-title {
  margin-bottom: 40px;
}

.about__right-content {
  text-align: left;
}