.articles {
  width: 80%;
  @include tablets {
    width: 95%;
  }
}

.articles__item {
  border-bottom: 4px solid $white; // ignore
  margin-bottom: 60px;
  &:last-child {
    border-bottom: none;
  }
  @include tablets {
    margin-bottom: 50px;
  }
}