.article__title {
  font-family: "bernier", Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1.42;
  margin-bottom: 30px;
}

.article__date {
  color: $green;
}

.article__header {
  margin-bottom: 30px;
}

.article__content {
  margin-bottom: 70px;
}
