.blog {
  display: flex;
  position: relative;
  margin-bottom: 150px;
  @include tablets {
    margin-bottom: 170px;
  }
  justify-content: center;
}

.blog__menu {
  display: flex;
  @include tablets {
    position: absolute;
    display: none;
  }
}

.blog__content {
  display: flex;
  @include tablets {
    width: 90%;
  }
}