.blog {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  position: relative;
}

.blog__menu {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 33%;
  @include tablets {
    position: absolute;
    display: none;
  }
  @include phones {
    display: flex;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    background-color: $green;
    z-index: 160;
  }
}

.blog__menu--swap {
  position: fixed;
  left: 0;
  right: 20%;
  width: 80%;
}

.blog__content {
  display: flex;
  width: 67%;
  justify-content: center;
  @include tablets {
    width: 100%;
  }
}