.blog-menu {
  position: absolute;
  top: 0px;
}

.blog-menu--fixed {
  position: fixed;
  top: 0;
}

.blog-menu__list {
  display: flex;
  text-align: right;
  flex-direction: column;
  width: 100%;
}

.blog-menu__link {
  text-decoration: none;
  color: $text-color;
  display: block;
  padding: 20px;
  border-right: 2px solid transparent; // ignore
  transition: 0.5s;
  &:hover {
    color: $green;
    border-right: 2px solid $green; // ignore
  }
  @include phones {
    color: #fff;
    border: none;
    opacity: 0.7;
    &:hover {
      color: #fff;
      border: none;
      opacity: 1;
    }
  }
}

.blog-menu__link--active {
  color: $green;
  border-right: 2px solid $green; // ignore
  @include phones {
    color: #fff;
    border: none;
    opacity: 1;
  }
}

.blog-menu__swipe-link {
  display: none;
  border-radius: 50%;
  background-color: $green;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(-50%);
  @include phones {
    display: block;
  }
}
