.contacts {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  opacity: 0.85;
  border-radius: 5px; // ignore
  padding: 30px 40px;
  @include phones {
    padding: 30px 10px;
  }
}

.contacts__title {
  margin-bottom: 30px;
  text-align: center;
}

.contacts__data {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.contacts__item {
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contacts__icon-img {
  width: 100%;
  height: 100%;
  fill: $green;
}

.contacts__link {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: $green;
  }
}