.form {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
}

.form__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__title {
  margin-bottom: 40px;
}

.form__edit {
  padding: 0 20px;
}

.form__row {
  margin-bottom: 20px;
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}

.form__textarea {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  resize: none;
  height: 140px;
}

.form__btn {
  display: flex;
}

.form__button {
  display: flex;
  width: 50%;
  background: $green;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  &:hover {
    background: $darkgreen;
  }
}

.form__button--border-right {
  border-right: 1px solid $light-grey;
}
