.hamburger-menu {
  max-width: 35px;
  max-height: 40px;
  width: 35px;
  height: 40px;
  display: inline-flex;
  vertical-align: middle;
}

.hamburger-menu__img {
  fill: #fff;
  height: 100%;
  width: 100%;
}