.hero {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150%;
  width: 100%;
  overflow: hidden;
}

.hero__background-img {
  display: block;
  max-width: 180%;
  height: 100%;
}

.hero__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero__menu {
  z-index: 150;
}

.hero__menu--fullscreen-menu {
  position: fixed;
  top: 30px;
  right: 30px;
}

.hero__down_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.hero__title-pic {
  width: 100%;
  fill: rgba(255, 255, 255, 0.06);
}

.hero__user {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
