.hero {
  background: url("assets/images/content/bg-about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero__menu {
  z-index: 150;
}

.hero__menu--fullscreen-menu {
  position: fixed;
  top: 30px;
  right: 30px;
}

.hero__down_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero__title {
  position: relative;
}

.hero__title-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.06);
}
