.menu__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
}

.menu__item--margin-right {
  margin-right: 40px;
}

.menu__link {
  color: $white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.menu__link--border-right {
  border-right: 1px solid $light-grey;
  &:last-child {
    border-right: none;
  }
}

.menu__link--backgroung-green {
  padding: 15px 30px;
  background-color: $green;
  &:hover {
    background-color: $darkgreen;
  }
}
