.skill {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
}

.skill__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.skill__circle {
  fill: transparent;
  stroke: $grey;
  stroke-width: 20px;
}

.skill__circle--above {
  stroke: $green;
  stroke-dasharray: 251;
  stroke-dashoffset: 50;
}
