.socials {
  display: flex;
  justify-content: center;
  fill: #fff;
}

.socials__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  @include phones {
    margin-right: 10px;
  }
}

.socials__icon {
  height: 30px;
  width: 30px;
}

.socials__link {
  position: relative;
  opacity: 0.5;
  transition: 0.3s;
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  display: block;
  line-height: 30px;
  &:hover {
    opacity: 1;
  }
}

.socials--fill-green {
  fill: $green;
}

.socials__link-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials--round {
  .socials__link {
    max-width: 35px;
    max-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid $light-grey; // ignore
    line-height: 35px;
    &:hover {
      background: #fff;
      fill: $grey;
    }
  }
  .socials__link-icon {
    height: 20px;
    width: 20px;
  }
}