.triangle {
  height: 100px;
  width: 100%;
}

.triangle--fill-light-beige {
  fill: $ligtbeige;
}

.triangle--fill-beige {
  fill: $beige;
  @include tablets {
    fill: $white;
  }
}

.triangle--fill-white {
  fill: #ffffff;
}

.triangle--fill-gray-beige {
  fill: $white;
}