.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.user__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: flex;
  flex-basis: 100%;
  max-width: 150px;
  margin-bottom: 15px;
}

.user__avatar-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.user__name {
  font-size: 28px;
  font-weight: 500;
}

.user--color-dark {
  color: $text-color;
}

.user__info {
  margin-bottom: 35px;
}