.welcome {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("assets/images/content/background.jpg");
  background-size: cover;
}

.welcome__registration {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.welcome__btn {
  display: flex;
}

.welcome__flipper {
  display: flex;
  justify-content: center;
}

.welcome__copyright {
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
}