.welcome {
  height: 100vh;
  position: relative;
  min-height: 650px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // background: url("assets/images/content/background.jpg");
  background-size: cover;
}

.welcome__registration {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  @include phones {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.welcome__btn {
  display: flex;
  width: 100%;
}

.welcome__flipper {
  display: flex;
  justify-content: center;
}

.welcome__copyright {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: #fff;
  font-weight: 300;
  z-index: 10;
  width: 80%;
  text-align: center;
}